<div class="row" style="">

    <div style="display:inline-block;" class="col-md-6">
       <div class="tictactoe">
           <div class="table table-2">
               <div class="table-column">
                   <div ng-click="markPlayerMove('202')" class="table-box top" id="202">

                   </div>
                   <div ng-click="markPlayerMove('201')" class="table-box middle" id="201">

                   </div>
                   <div ng-click="markPlayerMove('200')" class="table-box bottom" id="200">

                   </div>
               </div>
               <div class="table-column">
                   <div ng-click="markPlayerMove('212')" class="table-box top" id="212">

                   </div>
                   <div ng-click="markPlayerMove('211')" class="table-box middle" id="211">

                   </div>
                   <div ng-click="markPlayerMove('210')" class="table-box bottom" id="210">

                   </div>
               </div>
               <div class="table-column">
                   <div ng-click="markPlayerMove('222')" class="table-box top" id="222">

                   </div>
                   <div ng-click="markPlayerMove('221')" class="table-box middle" id="221">

                   </div>
                   <div ng-click="markPlayerMove('220')" class="table-box bottom" id="220">

                   </div>
               </div>
           </div>
           <div class="table table-1">
               <div class="table-column">
                   <div ng-click="markPlayerMove('102')" class="table-box top" id="102">

                   </div>
                   <div ng-click="markPlayerMove('101')" class="table-box middle" id="101">

                   </div>
                   <div ng-click="markPlayerMove('100')" class="table-box bottom" id="100">

                   </div>
               </div>
               <div class="table-column">
                   <div ng-click="markPlayerMove('112')" class="table-box top" id="112">

                   </div>
                   <div ng-click="markPlayerMove('111')" class="table-box middle" id="111">

                   </div>
                   <div ng-click="markPlayerMove('110')" class="table-box bottom" id="110">

                   </div>
               </div>
               <div class="table-column">
                   <div ng-click="markPlayerMove('122')" class="table-box top" id="122">

                   </div>
                   <div ng-click="markPlayerMove('121')" class="table-box middle" id="121">

                   </div>
                   <div ng-click="markPlayerMove('120')" class="table-box bottom" id="120">

                   </div>
               </div>
           </div>
           <div class="table table-0">
               <div class="table-column">
                   <div ng-click="markPlayerMove('002')" class="table-box top" id="002">

                   </div>
                   <div ng-click="markPlayerMove('001')" class="table-box middle" id="001">

                   </div>
                   <div ng-click="markPlayerMove('000')" class="table-box bottom" id="000">

                   </div>
               </div>
               <div class="table-column">
                   <div ng-click="markPlayerMove('012')" class="table-box top" id="012">

                   </div>
                   <div ng-click="markPlayerMove('011')" class="table-box middle" id="011">

                   </div>
                   <div ng-click="markPlayerMove('010')" class="table-box bottom" id="010">

                   </div>
               </div>
               <div class="table-column">
                   <div ng-click="markPlayerMove('022')" class="table-box top" id="022">

                   </div>
                   <div ng-click="markPlayerMove('021')" class="table-box middle" id="021">

                   </div>
                   <div ng-click="markPlayerMove('020')" class="table-box bottom" id="020">

                   </div>
               </div>
           </div>
       </div>
    </div>

    <div style="display:inline-block;margin-left:350px" class="col-md-6">
        <div>
            <table class="table table-hover table-stripped table-condensed" ng-show="movesInGame.length">
                <h2 class="lead">History of moves in the game</h2>
                <thead>
                <td>Player</td>
                <td>Position</td>
                <td>Move created</td>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div ng-show="!movesInGame.length" id="history"></div>
        </div>
    </div>
</div>