

<div class="container">
    <div class="row" ng-if="errorMessage != null">
        <div class="alert alert-success">{{errorMessage}}</div>
    </div>

    <div class="row">

        <!--Form for creating new game -->
        <div class="col-md-6">

            <h2 class="lead">New game</h2>
            <form name="createNewBoard" class="form-horizontal" novalidate ng-submit="createNewGame()">
                <div class="form-group">
                    <label for="turn" class="col-md-2 control-label">Choose turn:</label>
                    <div class="col-md-8">
                        <select required name="turn" id="turn" ng-model="item.turnId" ng-selected="0" ng-options="turn.id as turn.name for turn in turns">
                        </select>

                    </div>
                </div>
               <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-6" style="padding-bottom:50px">
                        <button type="submit" class="btn btn-md btn-primary createGame" ng-disabled="createNewGame.$invalid">
                            <span class="glyphicon glyphicon-plus">New Game</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6" ng-controller="playerGamesController">
            <table class="table table-hover table-striped table-condensed" ng-show="playerGames.length">
                <h2 class="lead">My games</h2>
                <thead>
                    <td>Game ID</td>
                    <td>Created</td>
                    <td></td>
                </thead>
                <tbody>

                    <tr ng-repeat="game in playerGames">
                        <td>{{game}}</td>
                        <td>{{game}}</td>
                        <td>
                            <button class="btn btn-sm" ng-click="loadGame(game)">
                                <span class="glyphicon glyphicon-plus"></span>Load game
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-show="!playerGames.length">
                No games.
            </div>
        </div>
    </div>
</div>